.payment_wrap {
    padding: 80px 0px;

    .sub_total_wrp {
        background: #FBFBFB;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin: 20px 0px;
        padding: 20px;

        p {
            display: flex;
            margin: 5px 0px;

            span {
                margin-left: auto;
            }
        }
    }

    .payment_cards {
        margin-bottom: 50px;

        img {
            width: 180px;
            height: 100px;
            object-fit: contain;
        }

        .form-check-input[type="radio"] {
            border-radius: 50%;
            width: 25px;
            height: 25px;

            &:focus {
                box-shadow: none;
            }
        }
    }


    .payment_form {
        .form-check-input {
            width: 25px;
            height: 25px;

            &:focus {
                box-shadow: none;
            }
        }

        .form-control {
            height: 48px;
            border-color: #D1D1D1;
        }
    }

}

// Responsive css start here

@media screen and (max-width:991px) {
    .payment_wrap {
        padding: 50px 0px;

        .pay_card {
            justify-content: center;
            margin-bottom: 20px !important;
        }
    }

}

@media screen and (max-width:575px) {
    .payment_wrap {
        padding: 40px 0px;
    }
}