.privacy {
    h3 {
        font-size: 40px;
        font-weight: 700;
        text-transform: capitalize;
        margin: 25px 0px 20px 0px;
        color: var(--white);
    }

    p,
    span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(255, 255, 255, 60%);
    }

    li {
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 60%);
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}