.border_main {
    padding: 40px 20px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 20px;

}

.checkout_sec {
    padding: 80px 0px;

    .order_wrp {
        ul {
            padding-left: 0px;
            list-style: none;
            color: #6B6B6B;
            font-weight: 500;
            margin: 20px 0px;

            li {
                display: flex;
                margin: 10px 0px;


                span {
                    margin-left: auto;
                    color: #000;
                }
            }
        }
    }

    .amout_wrp {
        .amount_dtl {
            margin-top: 25px;

            .amount_img {
                img {
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .amount_data {
                p {
                    color: #000;
                    font-weight: 500;
                    margin: 5px 0px;
                    font-size: 16px;
                }
            }
        }

    }

    .billing_dtl {
        form {
            margin-top: 20px;

            .form-control {
                border: 1px solid #B7B7B7;
                border-radius: 4px;
                height: 48px;

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }

        .form-label {
            color: #6B6B6B;
        }
    }



}

.success_modal {
    .modal-dialog {
        border-radius: 50px;
        overflow: hidden;

        .modal-content {
            border-radius: 50px;

            .order_success {
                text-align: center;
                padding: 40px 0px;

                img {
                    width: 250px;
                }

                h4 {
                    margin: 30px 0px;
                }
            }
        }

    }
}

// Responsive css start here

@media screen and (max-width:991px) {
    .checkout_sec {
        padding: 50px 0px;

        .check_order {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width:575px) {
    .checkout_sec {
        padding: 40px 0px;
    }
}

.add-btn {
    padding: 6px 10px;
    background: var(--primary-color);
    border-radius: 6px;
    color: #fff;
}

.card-main {
    display: flex;
    gap: 20px;
    flex-flow: wrap;

    .card-view {
        display: flex;
        flex: calc(50% - 20px);
        max-width: calc(50% - 20px);
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        align-items: baseline;
        padding: 20px 15px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        label {
            display: block;
            margin-left: 12px;

            h4 {
                font-size: 18px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}