.contact_sec{
  .Section_heading {
    max-width: 700px;
    margin: auto;
  }
    .info_box {
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        margin-bottom: 30px;
        h5 {
            margin: 15px 0px;
          }
          p{
            margin-bottom: 0px;
          }
    }
    .message_form {
      margin: 40px 0px 80px;
      h1{
        text-align: center;
        margin-bottom: 40px;
      }
      label{
        color: #6B6B6B;
      }
      .form-control {
        border-color: #D1D1D1;
        height: 48px;
        &:focus{
          box-shadow: none;
        }
      }
    }
}
// Responsive css start here

@media screen and (max-width:991px){
  .contact_sec {
    padding: 50px 0px!important;
   
  } 
  }

@media screen and (max-width:575px){
  .contact_sec {
    padding: 40px 0px;
    .message_form {
      margin: 0px;
    }
  } 
  }