.notification_wrap {

    .Notification_card {
        border: 1px solid #D1D1D1;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        .dot {
            width: 20px;
            height: 20px;
            background: #378CE7;
            border-radius: 50%;
            margin-left: auto;
        }

        h5 {
            font-family: "Public sans";
            font-weight: 500;
        }

        .notication_inr {
            margin-top: 10px;

            .not_img {
                img {
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .not_content {
                p {
                    margin-bottom: 5px;
                }

                svg {
                    margin: 0px 5px;
                }

                span {
                    color: #6B6B6B;
                }
            }
        }
    }
}

// Responsive css start here

@media screen and (max-width:991px) {
    .notification_wrap {
        margin-top: 30px;

        .notication_inr {
            flex-wrap: wrap;
        }
    }
}