.about_sec {
	padding: 80px 0px;
    .about_inr {
        max-width: 550px;
        h3 {
            font-size: 40px;
        }
        p {
            color: #6B6B6B;
            margin: 20px 0px;
          }
          ul{
            list-style: none;
            padding-left: 0px;
            li {
                padding: 15px 0px 15px 42px;
                position: relative;
                &:after{
                    position:absolute;
                    content:"";
                    width: 30px;
                    height: 30px;
                    background: url(../images/tick.png);
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                }
              }
          }
    }
    .about_img {
        img {
            width: 100%;
        }
    }
 
}
.meet_team {
    padding: 80px 0px;
    background: #F1F8FF;
    .section_heading {
        margin-bottom: 50px;
      }
      .team_box {
        text-align: center;
        img{
            width: 100%;
            margin-bottom: 10px;
        }
        p{
            margin: 0px;
        }
    }
}
.testimonial{
    padding: 80px 0px;
    .section_heading{
        margin-bottom: 50px;
    }
    .review_box {
        background: #F8F8F8;
        padding: 25px;
        border-radius: 10px;
        .reviw_inr {
            .review_img {
                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .review_rt {
                p {
                    margin-bottom: 4px;
                    color: #6B6B6B;
                }
                svg{
                    margin-right: 2px;
                }
            }
        }
    }

}
